ipykernel
python-dotenv
google-adk
google-cloud-aiplatform
google-cloud-storage
google-genai
groq
pandas
requests
serpapi
yt-dlp
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib 
langchain_community
firecrawl-py
langchain 
langchain-openai 
langchain-qdrant 
qdrant-client
Pillow